{% extends "base.html" %}
{% block content %}
<div class="pass-reset">
    <h2> Password Reset</h2>
        <form method="POST">
            <input type="password" name="password" placeholder="New Password" required>
            <button type="submit">Reset Password</button>
        </form>

</div>

<div id="popup-message" class="popup-message">
    <span id="popup-text"></span>
</div>


<script>
    const popup = document.getElementById('popup-message');
    const popupText = document.getElementById('popup-text');

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        popupText.textContent = "{{ messages[0] }}";
        popup.classList.add('show');

        setTimeout(() => {
            popup.classList.remove('show');
        }, 4000); 
    {% endif %}
    {% endwith %}
</script>

  </div>
{% endblock %}
